.styleAppBar{
    text-align:'right';
    background-color:#55acd3
}
.divAppBar{
    margin-top: 10px;
}
.imageModifier{
    width:30px
}
.imageSupprimer{
    width:35px
}

.formStyle{
    background: url("/assets/images/medicalPhotos/examenMedical.jpg") no-repeat;
    background-size: 100%;
}
.contentLeSaviezVousDetails{
    margin-top: 0px;
}
.imageLeSaviezVous{

    max-width: 300px;
    border-radius: 50%;
    margin-top: 20px;

}
.categorieContent{
    margin-top: 15px;
    color:teal;
}
.descriptionContent{
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 30px;
}

.searchResult{
    background-color: orange;
}
