.searchDiv{
    background-color:white; 
    opacity:0.7;
    text-align:'right';
    border-radius:5px
}
.searchInput{
    background-color:white;
    opacity:0.7;
    border-radius:'0px'
}
.searchButton{
    height:'35px';
}
.styleAppBar{
    text-align:'right';
    background-color:#55acd3
}
.divAppBar{
    margin-top: 10px;
}
.gridNewButton{
    text-align:'left'
}
.imageModifier{
    width:30px
}
.imageValider{
    width:25px
}
.searchResult{
    background-color: orange;
}