.searchDiv{
    background-color:white; 
    opacity:0.7;
    text-align:'right';
    border-radius:5px
}
.searchInput{
    background-color:white;
    opacity:0.7;
    border-radius:'0px'
}
.searchButton{
    height:'35px';
}
.styleAppBar{
    text-align:'right';
    background-color:#55acd3
}
.divAppBar{
    margin-top: 10px;
}
.gridNewButton{
    text-align:'left'
}
.imageModifier{
    width:30px
}
.formStyle{
    background: url("/assets/images/medicalPhotos/examenMedical.jpg") no-repeat;
    background-size: 100%;
}
.imageUploaded{
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
   
}